<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quitanda Online :: @ViewData["titulo"]</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="min-width:372px;">

    <nav class="navbar navbar-expand-lg navbar-dark bg-danger border-bottom shadow-sm mb-3">
        <div class="container">
            <a class="navbar-brand" asp-page="/Index"><strong>Quitanda Online</strong></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-page="/Index">Principal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-page="/Contato">Contato</a>
                    </li>
                </ul>
                <div class="align-self-end">
                    <partial name="_LoginLinks" />
                </div>
                <div class="align-self-end">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-white" id="carrinho" asp-page="/Carrinho">
                                <svg class="bi" width="24" height="24" fill="currentColor">
                                    <use xlink:href="/bi.svg#cart3" />
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <main>
        <div class="container">
            @RenderBody()
        </div>
    </main>

    <div style="height: 273px;" class="d-block d-md-none"></div>
    <div style="height: 153px;" class="d-none d-md-block d-lg-none"></div>
    <div style="height: 129px;" class="d-none d-lg-block"></div>

    <footer class="border-top fixed-bottom text-muted bg-light">
        <div class="container">
            <div class="row py-3">
                <div class="col-12 col-md-4 text-center text-md-start">
                    &copy; 2023 - Quitanda Online<br />
                    Rua Virtual Inexistente, 171, Compulândia/PC <br />
                    CNPJ 99.999.999/0001-99
                </div>
                <div class="col-12 col-md-4 text-center">
                    <a class="text-decoration-none text-dark" asp-page="/Privacidade">Política de Privacidade</a><br />
                    <a class="text-decoration-none text-dark" asp-page="/Termos">Termos de uso</a><br />
                    <a class="text-decoration-none text-dark" asp-page="/QuemSomos">Quem Somos</a><br />
                    <a class="text-decoration-none text-dark" asp-page="/Trocas">Trocas e devoluções</a>
                </div>
                <div class="col-12 col-md-4 text-center text-md-end">
                    <a class="text-decoration-none text-dark" asp-page="/Contato">Contato pelo site</a><br />
                    E-mail: <a href="mailto:email@dominio.com" class="text-decoration-none text-dark">email@dominio.com</a><br />
                    Telefone: <a href="phone:11999990000" class="text-decoration-none text-dark">(11)99999-0000</a>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>