@page
@{
    ViewData["titulo"] = "Cadastro Realizado com Sucesso!";
}
<h1>@ViewData["titulo"]</h1>
<hr />

<p>
    Obrigado por se cadastrar em nossa loja virtual. Um e-mail de confirmação foi enviado para seu e-mail. Clique no link de confirmação para concluirmos o seu cadastro.
</p>
<p>
    Desde já, agradecemos pela confiança em nossos serviços.
</p>
<p>
    Cordialmente,<br />
    Central de Relacionamento Quitanda Online
</p>
<p>
    <a asp-page="/Index" class="btn btn-danger">Voltar à Página Principal</a>
</p>