@page
@{
    ViewData["titulo"] = "Cadastro Realizado com Sucesso!";
}
<h1>@ViewData["titulo"]</h1>

<h4>Você está quase lá. Só falta confirmar seu e-mail.</h4>

<p>
    Seus dados foram recebidos e seu cadastro foi realizado com sucesso. Para fazer o login, é necessário acessar sua caixa de e-mails e seguir as instruções disponíveis na mensagem que acabamos de te enviar.
</p>

<p>
    Obrigado por se cadastrar em nosso site!
</p>