@page
@{
    ViewData["titulo"] = "Quem Somos";
    Layout = "_Layout";
}
<div class="container">
    <h1>Quem Somos</h1>
    <hr>
    <p>
        Quitanda Online é uma loja virtual (e-commerce) fictícia criada como estudo de caso para o curso "Desenvolvimento de uma Loja Virtual com Bootstrap 5 e ASP.NET 5" disponibilizado gratuitamente pelo Prof. Ricardo Maroquio em seu canal no YouTube.
    </p>
    <p>
        O código-fonte pode ser obtido via GitHub, conforme orientações apresentadas ao longo dos vídeos do curso no YouTube. Este estudo de caso pode ser utilizado livremente como base para outras lojas virtuais, sem ônus para o usuário.
    </p>
    <p>
        Bons estudos e boa programação!
    </p>
</div>