@page
@model QuitandaOnline.Pages.RecuperarSenhaModel
@{
    ViewData["titulo"] = "Recuperação de Senha";
    Layout = "_Layout";
}

<div class="row justify-content-center">
    <form class="col-sm-10 col-md-8 col-lg-6" method="post" asp-page="/EsqueciSenha">
        <h1 class="mt-5 mb-3 font-weight-normal">Recuperação de Senha</h1>

        <style type="text/css">
            .val-summary ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
            }
        </style>

        <div asp-validation-summary="ModelOnly" class="val-summary text-danger mb-3"></div>

        <div class="form-floating mb-3">
            <input asp-for="Dados.Email" class="form-control" placeholder=" " required autofocus />
            <label asp-for="Dados.Email">E-mail</label>
            <span asp-validation-for="Dados.Email" class="text-danger"></span>
        </div>

        <button class="btn btn-lg btn-danger btn-block" type="submit">Recuperar</button>

        <p class="mt-3">Ainda não é cadastrado? <a href="/NovoCliente">Clique aqui</a> para se cadastrar.</p>

    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}