@page
@model QuitandaOnline.Pages.RedefinirSenhaModel
@{
    ViewData["titulo"] = "Redefinição de Senha";
}

<div class="row justify-content-center">
    <form class="col-sm-10 col-md-8 col-lg-6" method="post" asp-page="/EsqueciSenha">
        <h1 class="mt-5 mb-3 font-weight-normal">Redefinição de Senha</h1>

        <style type="text/css">
            .val-summary ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
            }
        </style>

        <div asp-validation-summary="ModelOnly" class="val-summary text-danger mb-3"></div>

        <input type="hidden" asp-for="Dados.Token" />

        <div class="form-floating mb-3">
            <input asp-for="Dados.Email" class="form-control" placeholder=" " required autofocus />
            <label asp-for="Dados.Email">E-mail</label>
            <span asp-validation-for="Dados.Email" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="Dados.Senha" class="form-control" placeholder=" " required />
            <label asp-for="Dados.Senha">Senha</label>
            <span asp-validation-for="Dados.Senha" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="Dados.ConfirmacaoSenha" class="form-control mt-3" placeholder="Confirme aqui sua nova senha" />
            <label asp-for="Dados.ConfirmacaoSenha">Confirmação de Senha</label>
            <span asp-validation-for="Dados.Senha" class="text-danger"></span>
        </div>

        <button class="btn btn-lg btn-danger btn-block mt-3" type="submit">Redefinir Senha</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}